<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    <input id="username" placeholder="Username">
    <input id="password" type="password" placeholder="Password">

    <button onclick="login()">Login</button>
</div>

<script>
async function login() {
    const res = await fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        })
    });

    if (!res.ok) {
        alert("Invalid login");
        return;
    }

    const data = await res.json();
    localStorage.setItem("token", data.access_token);
    window.location.href = "/upload";
}
</script>

</body>
</html>
